In [1]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta

In [2]:
root = '../../resources'

In [78]:
def clean_cd(data):
  data.sort_values(['number', 'time'], inplace=True)
#   data = data.assign(usage=lambda x: (x.total-x.available)/x.total)
  nd = pd.DataFrame(data.number.value_counts())
  nd = nd[nd.number<=288]
  data = data[data.number.isin(nd.index)]
  data.time = pd.to_datetime(data.time)
  data.time = data.time.dt.hour
  data = data.groupby(['number', 'time']).mean()
  return data.reset_index()

In [87]:
jeff = pd.read_csv(f'{root}/2020/2020-01-01.csv')
jeff = clean_cd(jeff)
jeff

D:\Programs\Anaconda\envs\virtualenv\lib\site-packages\pandas\core\generic.py:5507: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

      number  time  total  available
0        A10     0   62.0  27.166667
1        A10     1   62.0  22.833333
2        A10     2   62.0  17.583333
3        A10     3   62.0  14.833333
4        A10     4   62.0  10.083333
...      ...   ...    ...        ...
40603    YHS    19   60.0  31.333333
40604    YHS    20   60.0  32.666667
40605    YHS    21   60.0  32.416667
40606    YHS    22   60.0  28.833333
40607    YHS    23   60.0  25.750000

[40608 rows x 4 columns]

In [84]:
def mean_year(year):
    td = timedelta(days=1)
    dt = datetime.strptime(f'{year}-01-01', '%Y-%m-%d')
    dend = datetime.strptime(f'{year}-12-31', '%Y-%m-%d')
    frick = pd.DataFrame()
    while dt <= dend:
        bruh = dt.strftime('%Y-%m-%d')
        name = f'{bruh}.csv'
        jeff = pd.read_csv(f'{root}/{year}/{name}')
        if frick.empty:
            frick = clean_cd(jeff)
        else:
            jeff = clean_cd(jeff)
            frick.total += jeff.total
            frick.available += jeff.available
        dt += td
    frick.total /= 365
    frick.available /=365
    frick.to_csv(f'{root}/meanyear/{year}.csv', index=False)

In [ ]:
for i in ['2020', '2019', '2018']:
    mean_year(i)